// Colors
$color-primary: #191826;
$color-secondary: #fcfaf9;
$color-tertiary: #fa7453;

// Typography
$font-family-primary: "IBM Plex Sans", sans-serif;
$font-size-base: 1.125rem;
$font-weight-base: 400;
$line-height-base: 1.75rem;
